/IntegerExperiments/.idea
/IntegerExperiments/out
/IntegerExperiments/*.iml
/Min_Max_value/.idea
/Min_Max_value/out
/Min_Max_value/*.iml
/StringExperiments/.idea
/StringExperiments/out
/StringExperiments/*.iml
